node_modules/
dist/
tmp/
supabase/.temp/
*.log
*.bin
.env
.env.*
!.env.example

tsconfig.app.tsbuildinfo
vite.config.ts.timestamp-*

prarthana-clg-bgk-BACKUP/

pratharna-clg-bgk-BACKUP/

pratharna-clg-bgk-BACKUP/

/pratharna-clg-bgk/
